@use 'homestyle';


// @charset "utf-8";

// // Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// // Import custom variables and Bulma overides
// @import "./variables.scss";

// // Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/layout/section.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/form/_all.sass";

// .hero-body {
//   display: flex;
//   justify-content: space-between;
// }



body{
  margin: 0;

}


header a{
  color:#fff;
  &:hover{
    color: #000;
  }
}

.logo{
  color: #10466f !important;
  &:hover{
    color: #176aa9 !important;
  }
}

.label {
  color: #10466f  !important;
  font-weight: 500;
  &:hover {
    color:#176aa9 !important;
  }
}

.custom-appbar{
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-radius: 50px;
  padding: 0.3em;
  width: 90% !important;
  margin: 1em auto;
  box-shadow: none !important;
  border-color: #397fb54f !important;
  background-color: transparent !important;
  transition: background-color  border-color  1s ease !important;
  border: 0.5px;
  
}

.custom-appbar.scroll {
  backdrop-filter: blur(6px) !important;
  background-color: #f0f0f046 !important;
}

.button-style{
  border-radius: 20px !important;
  font-weight: 600 !important;
  font-size: 0.7em !important;
  color: #10466f!important;
  border-color: #10466f !important;
  letter-spacing: 0.08em;
  
  &:hover {
    color: white !important;
    background-color: #10466f !important;
    
  }
  
}

.login{
  border-radius: 20px !important;
  font-weight: 600 !important;
  font-size: 0.7em !important;
  color:white !important;
  background-color:  #10466f  !important;
  letter-spacing: 0.08em;
  box-shadow: none !important;

  
  &:hover {
    color: white !important;
    background-color: #176aa9!important;
    

    
  }
}



//ado
