


// @charset "utf-8";

// // Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// // Import custom variables and Bulma overides
// @import "./variables.scss";

// // Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/layout/section.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/form/_all.sass";

// .hero-body {
//   display: flex;
//   justify-content: space-between;
// }


.bg-img{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/models/4952261_39598.jpg);
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 8%;
}
.css-pussb2-MuiCardMedia-root{
  padding-top: 0;
}

header a{
  color:#fff;
  &:hover{
    color: #000;
  }
}

.testimonial{
  position:absolute;
  margin: 0 auto;
  padding-top: 500px;
}